# Archivos de compilación
target/
*.class

# Archivos de logs
*.log

# Archivos de IDE
.idea/
*.iml
.vscode/
.project
.classpath
.settings/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de Maven
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Archivos de pruebas temporales
test-output/
surefire-reports/

